$material-light: ( "text-fields": ( "filled": rgba(0, 0, 0, 0.06), "filled-hover": rgba(0, 0, 0, 0.12), "outlined": rgba(49, 27, 146, 0.2), "outlined-disabled": rgba(0, 0, 0, 0.1), ), );
$text-field-outlined-fieldset-border: 1px solid currentColor;
$font-size-root: 14px;
$data-table-regular-header-font-size: 14px;
$data-table-dense-header-height: 50px;
$data-table-regular-row-height: 40px;
$body-font-family: "Inter",
sans-serif;
$navigation-drawer-border-width: 0px;
$list-item-dense-title-font-size: 12px;
$list-item-dense-title-font-weight: 500;
$switch-thumb-dense-height: 16px;
$list-item-min-height: 24px;
$breadcrumbs-even-child-padding: 0;
$breadcrumbs-item-font-size: 16px;
$breadcrumbs-item-font-weight: bold;
$dialog-elevation: 0;
$tab-font-size: 12px;
$tab-font-weight: 600;
$date-picker-years-landscape-height: 200px;
$tabs-item-min-width: 20px;